form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    
}
h1{
    font-size: 2rem;
    font-weight: 500;
    color:black;
    padding-bottom: 5%;
}
input{
    width: 88%;
    height: 30%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    
    
    
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 40%;
    background-color: #ece3e3;
    border-radius: 25px;
    
}
button{
    width: 70%;
    height: 10%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background-color: #f5f5f5;
    font-size: 1rem;
    font-weight: 500;
    color:black;
}
label
{   width: 80%;
    font-size: 1rem;
    font-weight: 500;
    color:black;
    position: center;
    padding-left: 5%;
    
    
    
}
select{
    width: 90%;
    height: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    ;
}
textarea{
    width: 50%;
    height: 20%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    ;
}
.LeaveDay{
    position: relative;
    left: 35%;
    width: 20%;    
    padding-right: 1%;
    padding-top: 5%;
    
   
    
    
}
.admin{
    position: relative;
    left: 35%;
    width: 20%;    
    padding-right: 1%;
    padding-top: 5%;
    
   
    
    
}
table{
    position: relative;
    left: 35%;
    width: 20%;    
    padding-right: 1%;
    padding-top: 5%;
    
   
    
    
}
tr{
    position: relative;
    left: 35%;
    width: 20%;    
    padding-right: 1%;
    padding-top: 5%;
    
   
    
    
}
th{
    position: relative;
    left: 35%;
    width: 20%;    
    padding-right: 1%;
    padding-top: 5%;
    
   
    
    
}
